<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/icon.png">
    <title>Vaultify</title>
    <script src="../static/index.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-image: linear-gradient(to right, #a1c4fd, #c2e9fb);
        }

        form {
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.3s ease-in-out;
        }

        form:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>

<body class="bg-gray-100">
    <div class="fixed top-4 right-4 bg-black text-white p-4 rounded-lg shadow-lg cursor-move" draggable="true"
        ondragstart="drag(event)">
        <div id="cpu_percent" class="text-center text-2xl">CPU 0%</div>
    </div>
    <div class="max-w-md mx-auto py-8">
        <h1 class="text-4xl font-bold text-center mb-8">Password Validator</h1>
        <form action="/check_password" method="post" class="bg-white rounded-lg shadow-md p-6">
            <label for="password" class="block mb-2 font-semibold">Password:</label>
            <input type="password" id="password" name="password"
                class="border border-gray-300 rounded-md px-4 py-2 w-full mb-4">
            {% if message %}
            <div class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3 mb-4" role="alert">
                {{ message }}
            </div>
            {% endif %}
            <div class="text-center">
                <input type="submit" value="Submit"
                    class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
            </div>
        </form>
    </div>
    <div class="max-w-md mx-auto py-8">
        <h1 class="text-4xl font-bold text-center mb-8">Config Parser</h1>
        <form action="/upload_config" method="post" enctype="multipart/form-data"
            class="bg-white rounded-lg shadow-md p-6">
            <label for="config" class="block mb-2 font-semibold">Upload Config File:</label>
            <input type="file" id="config" name="config"
                class="border border-gray-300 rounded-md px-4 py-2 w-full mb-4">
            <div class="text-center">
                <input type="submit" value="Submit" onclick="showSuccessNotification()"
                    class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
            </div>
        </form>
    </div>
</body>

</html>